<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>Register</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Register">
    </form>
    <a href="{{ .LoginEndpoint }}">Login</a>

    <script>
        const form = document.querySelector('form');
        
        form.addEventListener('submit', (event) => {
            event.preventDefault();

            const password = form.querySelector('input[name="password"]');
            const confirmPassword = form.querySelector('input[name="confirm_password"]');
            const csrfToken = {{ .CSRFTag }}
            const name = form.querySelector('input[name="name"]');
            const email = form.querySelector('input[name="email"]');

            const endpoint = {{ .RegisterEndpoint }}
            fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'x-csrf-token': csrfToken,
                },
                body: JSON.stringify({
                    name: name.value,
                    email: email.value,
                    password: password.value,
                    confirm_password: confirmPassword.value
                })
            })
        });
    </script>
</body>
</html>